.Fixtures {
  .grid-container {
    @include respond('desktop') {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &--match {
    display: grid;
    grid-template-columns: (1fr 3fr 1fr 3fr);
    column-gap: 3px;
    margin: 10px auto;
    padding: 10px 5px;
    border: 2px solid $primary;
    border-radius: 10px;
    align-items: baseline;
    background-color: $primary;
    color: white;
    @include respond('desktop') {
      display: flex;
      width: 525px;
      position: relative;
      padding-top: 55px;
      padding-bottom: 15px;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
      min-height: 150px;
    }

    .dates {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      @include respond('desktop') {
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
      }
      .time {
        font-weight: 600;
      }
      .date {
        font-size: 0.75rem;
      }
    }

    .team {
      display: flex;
      flex-direction: column;
      @include respond('desktop') {
        width: 150px;
        align-self: flex-start;
      }

      > img {
        height: 35px;
        width: 35px;
        @include respond('tablet') {
          height: 45px;
          width: 45px;
        }
      }
    }

    .awayTeam {
      justify-content: end;
      text-align: right;

      > img {
        align-self: end;
      }
    }

    .homeTeam {
      justify-content: start;
      text-align: left;
    }

    .scores {
      display: flex;
      justify-content: center;
      &.scheduled {
        color: gray;
      }
      &.final {
        background-color: lightgray;
        .score {
          font-weight: 600;
        }
      }
    }
  }
}
