// top goal scorers mixin
@mixin top-goal-scorer($color) {
  content: '';
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background-color: $color;
  position: absolute;
  border-radius: 10px;
}

.GoalScorers {
  &--player {
    display: grid;
    grid-template-columns: (0fr 2fr 2fr 1fr);
    column-gap: 1px;
    align-items: center;
    justify-items: start;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 10px;
    position: relative;
    @include respond('tablet') {
      grid-template-columns: (0fr 2fr 2fr 1fr 1fr 1fr);
      padding: 5px 8px;
      min-height: 56px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid $lightGrayBackground;
    }

    &:hover {
      background-color: $purpleBackground;
    }

    &:nth-of-type(1)::after {
      @include top-goal-scorer($gold);
    }
    &:nth-of-type(2)::after {
      @include top-goal-scorer($silver);
    }
    &:nth-of-type(3)::after {
      @include top-goal-scorer($bronze);
    }

    span {
      &:first-child {
        width: 25px;
      }
      > img {
        display: none;
        @include respond('tablet') {
          display: inherit;
          width: 35px;
          margin-right: 5px;
        }
      }
      &.team,
      &.country {
        display: flex;
        align-items: center;
      }

      &.country {
        display: none;
        @include respond('tablet') {
          display: flex;
        }
      }

      &.position {
        display: none;
        @include respond('tablet') {
          display: inherit;
        }
      }

      &.goals {
        justify-self: center;
      }
    }
  }
}
