// top goal scorers mixin
@mixin top-goal-scorer($color) {
  border: 1px solid $color;
  border-radius: 10px;
  padding: 5px;
  background-color: $color;
  color: white;
}

.GoalScorers {
  &--player {
    display: grid;
    grid-template-columns: (0fr 2fr 2fr 1fr);
    column-gap: 1px;
    align-items: center;
    justify-items: start;
    margin-bottom: 10px;
    padding-left: 5px;
    @include respond('tablet') {
      grid-template-columns: (0fr 2fr 2fr 1fr 1fr 1fr);
    }

    &:nth-of-type(1) {
      @include top-goal-scorer($gold);
    }
    &:nth-of-type(2) {
      @include top-goal-scorer($silver);
    }
    &:nth-of-type(3) {
      @include top-goal-scorer($bronze);
    }

    span {
      &:first-child {
        width: 25px;
      }
      > img {
        display: none;
        @include respond('tablet') {
          display: inherit;
          width: 35px;
          margin-right: 5px;
        }
      }
      &.team,
      &.country {
        display: flex;
        align-items: center;
      }

      &.country {
        display: none;
        @include respond('tablet') {
          display: flex;
        }
      }

      &.position {
        display: none;
        @include respond('tablet') {
          display: inherit;
        }
      }

      &.goals {
        justify-self: center;
      }
    }
  }
}
