.Hero {
  height: 100%;
  .wrapper {
    display: flex;
    max-width: 1100px;
    margin: auto;
    height: 100%;
    @include respond('tablet') {
      margin: 0 50px;
    }

    > div {
      justify-self: center;
      @include respond('tablet') {
        align-self: center;
        z-index: 1;
      }

      > div {
        color: white;
        font-family: $font-header;
        font-size: 4rem;
        margin-bottom: 60px;
      }
      > .cta {
        padding: 10px;
        border-radius: 10px;
        font-size: 2rem;
        font-weight: 700;
        border-image: $gradient;
        cursor: pointer;
        border-image-slice: 1;
        color: white;
        border: 2px solid white;
        position: relative;
        z-index: 1;
        transition: color 300ms ease-in-out;

        &::before {
          content: '';
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          background-color: white;
          z-index: -1;
          border-radius: 5px;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 300ms ease-in-out;
        }

        &:hover::before,
        &:focus::before {
          transform: scaleX(1);
        }

        &:hover,
        &:focus {
          color: $purpleGradient;
        }
      }
    }

    img {
      display: none;
      @include respond('tablet') {
        display: inherit;
        position: absolute;
        width: 500px;
        right: 50px;
        top: 20%;
      }

      @include respond('desktop') {
        width: 600px;
        right: 100px;
      }
    }
  }
}
