.Standings {
  &--table {
    display: grid;
    row-gap: 10px;

    &--headers {
      span {
        font-weight: 800;
        text-align: center;
      }
    }

    // &--items:nth-last-child(3) {
    //   border-top: 2px dashed red;
    //   padding-top: 10px;
    // }

    &--items:nth-child(odd) {
      background-color: $lightGrayBackground;
      border-radius: 10px;
    }

    &--items,
    &--headers {
      grid-template-columns: (1fr 2fr 1fr 1fr 1fr 1fr);
      display: grid;

      column-gap: 1px;
      align-items: center;
      justify-items: center;
      padding: 5px;
      @include respond('tablet') {
        grid-template-columns: (1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
      }

      span {
        img {
          width: 25px;
          @include respond('tablet') {
            width: 45px;
          }
        }
      }
      .gf,
      .ga,
      .gd,
      .gp {
        display: none;
        @include respond('tablet') {
          display: inherit;
        }
      }
    }
    &--items {
      .team {
        justify-self: flex-start;
        padding-left: 10px;
      }
    }
  }
}
