@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap');

$font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
$font-header: 'Rubik', sans-serif;

$primary: #5d0066;
$danger: #df5353;

$gold: #b99727;
$silver: #999999;
$bronze: #a6834e;

$lightGrayBackground: #f8f5f8;
$purpleBackground: #eee7ee;

$pinkGradient: #ff2882;
$purpleGradient: #963cff;

$gradient: linear-gradient(325deg, $pinkGradient, $purpleGradient);
